#!/bin/sh

backup_date=$(date +'%Y%m%d')
backup_path=$(mktemp -d)
backup_name='navidrome_backup'
rsync_target={{ navidrome_rsync_target }}

# Stop Navidrome
docker compose -f {{ navidrome_path }}/docker-compose.yml down

# Create backup archive
tar cvfz $backup_path/$backup_name-$backup_date.tgz {{ navidrome_data_path }}

# Start Navidrome
docker compose -f {{ navidrome_path }}/docker-compose.yml up -d

# rsync to NAS
rsync -av --password-file={{ navidrome_path }}/rsync.pwd $backup_path/$backup_name-$backup_date.tgz $rsync_target

# Remove tmp directory
rm -Rf $backup_path
