services:
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    user: {{ navidrome_user_id }}:{{ navidrome_group_id }}
    ports:
      - '{{ navidrome_port }}:4533'
    restart: unless-stopped
    volumes:
      - {{ navidrome_data_path }}:/data
      - {{ navidrome_music_root }}:/music:ro
